.logo{
  animation: logo 1s ease-in-out  forwards ;
}
@keyframes logo {
  0%{
    opacity: 0;
    transform: translateX(-150px);
  }
 75%{
    opacity: 1;
    transform: translateX(50px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
.navigation a{
  display: inline-block;
  opacity: 0;
  animation: navigation 1s ease-in-out forwards ;
}
@keyframes navigation {
  0%{
    opacity: 0;
    transform: translateY(-150PX);
  }
 
  100%{
    opacity: 1;
    transform: translateY(0PX);
   
  }
}
.navigation a:nth-child(1){
  animation-delay: 0s;
}
.navigation a:nth-child(2){
  animation-delay: 0.3s;
}
.navigation a:nth-child(3){
  animation-delay: 0.6s;
}
.navigation a:nth-child(4){
  animation-delay: 0.9s;
}
/* home-section */
.home-pic img{
  opacity: 0;
  animation: pic 2s ease-in-out 1s forwards ;
}
@keyframes pic {
  0%{
    opacity: 0;
    transform: scale(.5)rotate(-50deg);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    opacity: 1;
    transform: scale(1)rotate(0deg);
  }
}
.home-content>*{
  opacity: 0;
  animation: home-cont 2s ease-in-out   forwards ;
  animation-delay: calc(.2s*var(--i));
}
@keyframes home-cont {
  0%{
    opacity: 0;
    transform: translateY(250px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}