:root{
  --main-color:#0ef;
  --second-color:#fff;
}
body {
  background-color: #250821;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  display: flex;justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 30%);
  align-items: center;
  padding: 10px 50px;
  z-index: 99;
  position: fixed;
}
.logo{
color: var(--second-color);
text-transform: uppercase;
font-size: 1.5rem;
font-weight: 700;
}
.logo span,.navigation a:hover,.navigation a.active{
  color: var(--main-color);
  text-shadow: 0 0 10px var(--main-color),0 0 20px var(--main-color);
}
.navigation a {
  color: var(--second-color);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  margin: 10px;
  transition: .3s;
  position: relative;
}
.navigation a::before{
  content:"";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -5px;
  background-color: var(--main-color);
}
.navigation a:hover::before,
.navigation a.active::before{
  width: 100%;
}
.menuBar {
  display: none;
  color: var(--second-color);
  position: relative;
  width: 40px;
  height: 60px;
  cursor: pointer;
}

.menuBar i {
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: opacity .3s ease;
}
.menuBar .fa-bars{
  opacity: 1;
}
.menuBar .fa-xmark{
  opacity: 0;
}
/* home section */
#home {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: row-reverse;
  padding: 10%;
  overflow: hidden;
  
}
.home-pic {
  margin-top: 5%;
}
.home-pic img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--main-color),
              0 0 20px var(--main-color),
              0 0 40px var(--main-color),
              0 0 80px var(--main-color);
}
.home-content {
  margin-right: 5%;
}
.home-content h2{
  font-size: 1.7rem;
  font-weight: 800;
  color: var(--second-color);
  padding: 1.3rem 0;
}
.home-content span {
  color: var(--main-color);
}
.home-content p {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1.3px;
  margin-top: 1.2rem;
  color: var(--second-color);
}
.social-icons {
  
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.social-icons i {
  color: var(--main-color);
  font-size: 2rem;
  transition: .2s ;
}
.social-icons i:hover {
  scale: 1.2;
  text-shadow:0 0 10px var(--main-color);
}
button{
  border: 2px solid var(--main-color);
  padding: 10px 40px;
  color: var(--second-color);
  background: transparent;
  border-radius: 10%;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px;
  transition: .35s;
}
button:hover {
  scale: 1.03;
  box-shadow: 0 0 10px var(--main-color),
              0 0 20px var(--main-color),
              0 0 40px var(--main-color),
              0 0 80px var(--main-color);
  background-color: var(--main-color);
  cursor: pointer;
}
