:root{
  --main-color:#0ef;
  --second-color:#fff;
}
body {
  background-color: #250821;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  display: flex;justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 30%);
  align-items: center;
  padding: 10px 50px;
  z-index: 99;
  position: fixed;
}
.logo{
color: var(--second-color);
text-transform: uppercase;
font-size: 1.5rem;
font-weight: 700;
}
.logo span,.navigation a:hover,.navigation a.active{
  color: var(--main-color);
  text-shadow: 0 0 10px var(--main-color),0 0 20px var(--main-color);
}
.navigation a {
  color: var(--second-color);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  margin: 10px;
  transition: .3s;
  position: relative;
}
.navigation a::before{
  content:"";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -5px;
  background-color: var(--main-color);
}

.navigation a:hover::before,
.navigation a.active::before{
  width: 100%;
}
.navigation i {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition:transform 1s;
}
.navigation i:hover {
  transform: rotate(360deg);
}
.menuBar {
  display: none;
  color: var(--second-color);
  position: relative;
  width: 40px;
  height: 60px;
  cursor: pointer;
}

.menuBar i {
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: opacity .3s ease;
}
.menuBar .fa-bars{
  opacity: 1;
}
.menuBar .fa-xmark{
  opacity: 0;
}

.changeColor{
  position: fixed;
  top: 65px;
  right: 10px;
  display: none;
}
.themeToggle{
  display: flex;
}
.changeColor li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0ef;
  margin-right: 5px;
  cursor: pointer;
  list-style: none;
}
.changeColor li:first-child {
  background-color: #f44336;
}
.changeColor li:nth-child(2) {
  background-color: #9c27b0;
}
.changeColor li:nth-child(3) {
  background-color: #03a9f4;
}
.changeColor li:nth-child(4) {
  background-color: #4caf50;
}
.changeColor li:nth-child(5) {
  background-color: #ff9800;
}
.changeColor input {
  width: 30px;
  height: 30px;

}
/* home section */
#home {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: row;
  padding: 5%;
  overflow: hidden;
  
}
.home-pic {
  margin-top: 2%;
}
.home-pic img {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--main-color),
              0 0 20px var(--main-color),
              0 0 40px var(--main-color),
              0 0 80px var(--main-color);
}
.home-content {
  margin:20px ;
}
.home-content h2{
  font-size: 1.7rem;
  font-weight: 800;
  color: var(--second-color);
  padding: 1.3rem 0;
}
.home-content span {
  color: var(--main-color);
}
.home-content p {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1.3px;
  margin-top: 1.2rem;
  color: var(--second-color);
}
.social-icons {
  
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.social-icons i {
  color: var(--main-color);
  font-size: 2rem;
  transition: .2s ;
}
.social-icons i:hover {
  scale: 1.2;
  text-shadow:0 0 10px var(--main-color);
}
button{
  border: 2px solid var(--main-color);
  padding: 10px 40px;
  color: var(--second-color);
  background: transparent;
  border-radius: 10%;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px;
  transition: .35s;
}
button:hover {
  scale: 1.03;
  box-shadow: 0 0 10px var(--main-color),
              0 0 20px var(--main-color),
              0 0 40px var(--main-color),
              0 0 80px var(--main-color);
  background-color: var(--main-color);
  cursor: pointer;
}
.counter {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 30%);
  height: 65px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  color: var(--main-color);
}
/* about section */
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: #222;
  padding: 0 10%;
}
#about h2 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--second-color);
  margin-bottom: 50px;
}
#about .me {
  color: var(--main-color);
}
.about-pic img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 50px;
  box-shadow: 0 0 10px var(--main-color),
              0 0 20px var(--main-color),
              0 0 40px var(--main-color),
              0 0 80px var(--main-color);
}
.about-content p span{
  font-size: 1.5rem;
  color:#ffffff11;
  background-clip: text;
  background-image: linear-gradient(90deg,var(--main-color),var(--second-color));
  background-size: 0;
  background-repeat: no-repeat;
}
